/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-navlist-container {
  max-width: 15rem;
}

.demo-table-container {
  text-align: center;
  height: 27rem;
}

.demo-table-textarea {
  max-width: 100%;
}

.table-users-container {
  width: 100%; 
  height: 27rem;
}

.offscreen{
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}


.button-green {
  
  /* green COLOR RAMP */
  
  --style-green-rgb-01:	0,117,0;
  --style-green-rgb-02:  0,137,0;
  --style-green-rgb-03:	0,157,0;	
  --style-green-rgb-04:	0,175,0;	

  /* SOLID */

  /* solid enabled */
  --oj-button-solid-chrome-bg-color:              rgb(var(--style-green-rgb-03));
  --oj-button-solid-chrome-border-color:          transparent;
  --oj-button-solid-chrome-text-color:            var(--oj-core-neutral-contrast);


  /* solid hover */
  --oj-button-solid-chrome-bg-color-hover:        rgb(var(--style-green-rgb-02));
  --oj-button-solid-chrome-border-color-hover:    transparent;
  --oj-button-solid-chrome-text-color-hover:      var(--oj-core-neutral-contrast);


  /* solid active */
  --oj-button-solid-chrome-bg-color-active:       rgb(var(--style-green-rgb-04));
  --oj-button-solid-chrome-border-color-active:   transparent;
  --oj-button-solid-chrome-text-color-active:     var(--oj-core-neutral-contrast);


  /* solid disabled */
  --oj-button-solid-chrome-bg-color-disabled:     rgba(var(--style-green-rgb-01), .1);
  --oj-button-solid-chrome-border-color-disabled: transparent;
  --oj-button-solid-chrome-text-color-disabled:   var(--oj-core-text-color-disabled); 


  /* BORDERLESS */
  
  /* borderless-chrome enabled */
  --oj-button-borderless-chrome-text-color:           rgb(var(--style-green-rgb-02));


  /* borderless chrome hover */
  --oj-button-borderless-chrome-bg-color-hover:        var(--oj-core-bg-color-hover);
  --oj-button-borderless-chrome-border-color-hover:    transparent;
  --oj-button-borderless-chrome-text-color-hover:      var(--oj-button-borderless-chrome-text-color);


  /* borderless chrome-active */
  --oj-button-borderless-chrome-bg-color-active:       var(--oj-core-bg-color-active);
  --oj-button-borderless-chrome-border-color-active:   transparent;
  --oj-button-borderless-chrome-text-color-active:     var(--oj-button-borderless-chrome-text-color);

    
  /* borderless chrome disabled */
  --oj-button-borderless-chrome-text-color-disabled:   rgba(var(--style-green-rgb-04), .3);

  
  /* OUTLINED */
  
    
  /* outlined enabled */
  --oj-button-outlined-chrome-border-color:          rgba(var(--style-green-rgb-04), .3);
  --oj-button-outlined-chrome-text-color:            var(--oj-button-borderless-chrome-text-color);


  /* outlined hover */
  --oj-button-outlined-chrome-bg-color-hover:        var(--oj-core-bg-color-hover);
  --oj-button-outlined-chrome-border-color-hover:    var(--oj-button-outlined-chrome-border-color);
  --oj-button-outlined-chrome-text-color-hover:      var(--oj-button-outlined-chrome-text-color);
  

  /* outlined active */
  --oj-button-outlined-chrome-bg-color-active:       var(--oj-core-bg-color-active);
  --oj-button-outlined-chrome-border-color-active:   var(--oj-button-outlined-chrome-border-color);
  --oj-button-outlined-chrome-text-color-active:     var(--oj-button-outlined-chrome-text-color);
 

  /* outlined disabled */
  --oj-button-outlined-chrome-border-color-disabled: rgba(var(--style-green-rgb-04), .1);
  --oj-button-outlined-chrome-text-color-disabled:   var(--oj-button-borderless-chrome-text-color-disabled);
}

.h1-red{
  color: rgb(157, 0, 0);
}

.button-red {
  
  /* red COLOR RAMP */
  
  --style-red-rgb-01:	157, 0, 0;
  --style-red-rgb-02: 117, 0, 0;
  --style-red-rgb-03:	197, 0, 0;	
  --style-red-rgb-04:	216, 0, 0;	

  /* SOLID */

  /* solid enabled */
  --oj-button-solid-chrome-bg-color:              rgb(var(--style-red-rgb-03));
  --oj-button-solid-chrome-border-color:          transparent;
  --oj-button-solid-chrome-text-color:            var(--oj-core-neutral-contrast);


  /* solid hover */
  --oj-button-solid-chrome-bg-color-hover:        rgb(var(--style-red-rgb-02));
  --oj-button-solid-chrome-border-color-hover:    transparent;
  --oj-button-solid-chrome-text-color-hover:      var(--oj-core-neutral-contrast);


  /* solid active */
  --oj-button-solid-chrome-bg-color-active:       rgb(var(--style-red-rgb-04));
  --oj-button-solid-chrome-border-color-active:   transparent;
  --oj-button-solid-chrome-text-color-active:     var(--oj-core-neutral-contrast);


  /* solid disabled */
  --oj-button-solid-chrome-bg-color-disabled:     rgba(var(--style-red-rgb-01), .1);
  --oj-button-solid-chrome-border-color-disabled: transparent;
  --oj-button-solid-chrome-text-color-disabled:   var(--oj-core-text-color-disabled); 


  /* BORDERLESS */
  
  /* borderless-chrome enabled */
  --oj-button-borderless-chrome-text-color:           rgb(var(--style-red-rgb-02));


  /* borderless chrome hover */
  --oj-button-borderless-chrome-bg-color-hover:        var(--oj-core-bg-color-hover);
  --oj-button-borderless-chrome-border-color-hover:    transparent;
  --oj-button-borderless-chrome-text-color-hover:      var(--oj-button-borderless-chrome-text-color);


  /* borderless chrome-active */
  --oj-button-borderless-chrome-bg-color-active:       var(--oj-core-bg-color-active);
  --oj-button-borderless-chrome-border-color-active:   transparent;
  --oj-button-borderless-chrome-text-color-active:     var(--oj-button-borderless-chrome-text-color);

    
  /* borderless chrome disabled */
  --oj-button-borderless-chrome-text-color-disabled:   rgba(var(--style-red-rgb-04), .3);

  
  /* OUTLINED */
  
    
  /* outlined enabled */
  --oj-button-outlined-chrome-border-color:          rgba(var(--style-red-rgb-04), .3);
  --oj-button-outlined-chrome-text-color:            var(--oj-button-borderless-chrome-text-color);


  /* outlined hover */
  --oj-button-outlined-chrome-bg-color-hover:        var(--oj-core-bg-color-hover);
  --oj-button-outlined-chrome-border-color-hover:    var(--oj-button-outlined-chrome-border-color);
  --oj-button-outlined-chrome-text-color-hover:      var(--oj-button-outlined-chrome-text-color);
  

  /* outlined active */
  --oj-button-outlined-chrome-bg-color-active:       var(--oj-core-bg-color-active);
  --oj-button-outlined-chrome-border-color-active:   var(--oj-button-outlined-chrome-border-color);
  --oj-button-outlined-chrome-text-color-active:     var(--oj-button-outlined-chrome-text-color);
 

  /* outlined disabled */
  --oj-button-outlined-chrome-border-color-disabled: rgba(var(--style-red-rgb-04), .1);
  --oj-button-outlined-chrome-text-color-disabled:   var(--oj-button-borderless-chrome-text-color-disabled);
}

