/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.demo-navlist-container {
  max-width: 15rem;
}

.demo-table-container {
  text-align: center;
  height: 27rem;
}

.demo-table-textarea {
  max-width: 100%;
}

.table-users-container {
  width: 100%; 
  height: 27rem;
}

.button-purple {
  
  /* PURPLE COLOR RAMP */
  
  --style-purple-rgb-10:	252, 248, 254;	
  --style-purple-rgb-20:	249, 242, 253;	
  --style-purple-rgb-30:	246, 236, 252;	
  --style-purple-rgb-40:	239, 219, 250;	
  --style-purple-rgb-50:	229, 196, 246;	
  --style-purple-rgb-60:	215, 165, 242;	
  --style-purple-rgb-70:	206, 145, 239;		
  --style-purple-rgb-80:	196, 123, 235;	
  --style-purple-rgb-90:	183, 94, 231;	
  --style-purple-rgb-100:	169, 64, 227;	
  --style-purple-rgb-110:	159, 40, 223;	
  --style-purple-rgb-120:	146, 35, 207;		
  --style-purple-rgb-130:	132, 32, 186;	
  --style-purple-rgb-140:	117, 28, 166;	
  --style-purple-rgb-150:	102, 24, 144;	
  --style-purple-rgb-160:	84, 20, 119;	
  --style-purple-rgb-170:	72, 17, 101;	

  /* SOLID */

  /* solid enabled */
  --oj-button-solid-chrome-bg-color:              rgb(var(--style-purple-rgb-140));
  --oj-button-solid-chrome-border-color:          transparent;
  --oj-button-solid-chrome-text-color:            var(--oj-core-neutral-contrast);


  /* solid hover */
  --oj-button-solid-chrome-bg-color-hover:        rgb(var(--style-purple-rgb-120));
  --oj-button-solid-chrome-border-color-hover:    transparent;
  --oj-button-solid-chrome-text-color-hover:      var(--oj-core-neutral-contrast);


  /* solid active */
  --oj-button-solid-chrome-bg-color-active:       rgb(var(--style-purple-rgb-160));
  --oj-button-solid-chrome-border-color-active:   transparent;
  --oj-button-solid-chrome-text-color-active:     var(--oj-core-neutral-contrast);



  /* solid disabled */
  --oj-button-solid-chrome-bg-color-disabled:     rgba(var(--style-purple-rgb-100), .1);
  --oj-button-solid-chrome-border-color-disabled: transparent;
  --oj-button-solid-chrome-text-color-disabled:   var(--oj-core-text-color-disabled); 



  /* BORDERLESS */
  
  /* borderless-chrome enabled */
  --oj-button-borderless-chrome-text-color:           rgb(var(--style-purple-rgb-120));


  /* borderless chrome hover */
  --oj-button-borderless-chrome-bg-color-hover:        var(--oj-core-bg-color-hover);
  --oj-button-borderless-chrome-border-color-hover:    transparent;
  --oj-button-borderless-chrome-text-color-hover:      var(--oj-button-borderless-chrome-text-color);


  /* borderless chrome-active */
  --oj-button-borderless-chrome-bg-color-active:       var(--oj-core-bg-color-active);
  --oj-button-borderless-chrome-border-color-active:   transparent;
  --oj-button-borderless-chrome-text-color-active:     var(--oj-button-borderless-chrome-text-color);

    
  /* borderless chrome disabled */
  --oj-button-borderless-chrome-text-color-disabled:   rgba(var(--style-purple-rgb-160), .3);

  
  /* OUTLINED */
  
    
  /* outlined enabled */
  --oj-button-outlined-chrome-border-color:          rgba(var(--style-purple-rgb-160), .3);
  --oj-button-outlined-chrome-text-color:            var(--oj-button-borderless-chrome-text-color);


  /* outlined hover */
  --oj-button-outlined-chrome-bg-color-hover:        var(--oj-core-bg-color-hover);
  --oj-button-outlined-chrome-border-color-hover:    var(--oj-button-outlined-chrome-border-color);
  --oj-button-outlined-chrome-text-color-hover:      var(--oj-button-outlined-chrome-text-color);
  

  /* outlined active */
  --oj-button-outlined-chrome-bg-color-active:       var(--oj-core-bg-color-active);
  --oj-button-outlined-chrome-border-color-active:   var(--oj-button-outlined-chrome-border-color);
  --oj-button-outlined-chrome-text-color-active:     var(--oj-button-outlined-chrome-text-color);
 

  /* outlined disabled */
  --oj-button-outlined-chrome-border-color-disabled: rgba(var(--style-purple-rgb-160), .1);
  --oj-button-outlined-chrome-text-color-disabled:   var(--oj-button-borderless-chrome-text-color-disabled);
}